{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ form_title }}</h1>
    {{ form_start(form_projects) }}
    <div class="form-group">
        {{ form_label(form_projects.name) }}
        {{ form_widget(form_projects.name, {'attr': {'class': 'form-control'}}) }}
   </div>
   <div class="form-group">
    {{ form_label(form_projects.id_group) }}
    {{ form_widget(form_projects.id_group, {'attr': {'class': 'form-control'}}) }}
</div>
{{ form_row(form_projects.submit, {'attr': {'class': 'form-control'}}) }}
{{ form_end(form_projects) }}
{% endblock %}
