{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <a href="{{ path('projects_new') }}" class="btn btn-success active" role="button" aria-pressed="true">Create new</a>
<div class="row"</div>
        {% for project in projects %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              <h5 class="text-center card-title"><a href="{{ path('project_show', {'id': project.id}) }}">{{ project.p_name }}</a></h5>
            </div>
              <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ project.g_name }}</h6>
              {# <p class="card-text">Description</p> #}
                <a class="card-link btn btn-primary" href="{{ path('projects_edit', {'id': project.id}) }}">Edit</a>
                <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#DeleteModal">
                Delete
              </button>
                  
        {{ include('projects/_delete_form.html.twig') }}
            </div>
          </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
            No records found
          </div>
        {% endfor %}


{% endblock %}
