{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <a href="{{ path('projects_new') }}" class="btn btn-success active" role="button" aria-pressed="true">Create new</a>
<div class="row"</div>
        {% for project in projects %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ project.p_name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ project.g_name }}</h6>
              <p class="card-text">Description</p>
              <div class="row">
              <a class="card-link btn btn-primary" href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DeleteModal">
                Delete
              </button>
                  
        {{ include('projects/_delete_form.html.twig') }}
            </div>
            </div>
          </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
            No records found
          </div>
        {% endfor %}


{% endblock %}
