{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div class="form-group">
        {{ form_label(registrationForm.username) }}
        {{ form-widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(registrationForm.plainPassword) }}
     {{ form-widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
</div>
   <div class="form-check">
            {{ form-widget(registrationForm.agreeTerms, {'attr': {'class': ''}}) }}
</div>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
