{% extends 'base.html.twig' %}

{% block title %}Tasks index{% endblock %}

{% block body %}
    <h1>Tasks index</h1>
    <div id="divChrono">00:00:00</div>
<form id="formChrono">
   <input type="button" id="bStart" value="Démarrer" onClick="fStart()" />
   <input type="button" id="bLap" value="Tours" onClick="fLap()" />
   <input type="button" id="bStop" value="Stop" onClick="fStop()" />
   <input type="button" id="bRecall" value="Rappels" onClick="fMemory()" />
   <input type="button" id="bDel" value="Remise à zéro" onClick="fReset()" />
</form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timer</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.timer ? task.timer|date('H:i:s') : '' }}</td>
                <td>{{ task.dateStart ? task.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.dateEnd ? task.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.name }}</td>
                <td>
                    <a class="btn" href="{{ path('tasks_edit', {'id': task.id}) }}">edit</a>
                    {{ include('tasks/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tasks_new') }}">Create new</a>
{% endblock %}
